## Bonus: Temperature Analysis I

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
# Convert the date column format from string to datetime
# Set the date column as the DataFrame index

df = pd.read_csv('Resources/hawaii_measurements.csv',parse_dates =['date'], index_col='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [3]:
 from scipy import stats

In [4]:
 # Filter data for desired months
monthly_avg_tobs = df['tobs'].resample('M').mean()
monthly_avg_tobs

date
2010-01-31    69.248756
2010-02-28    67.398876
2010-03-31    69.651982
2010-04-30    71.030973
2010-05-31    73.817073
                ...
2017-04-30    73.652632
2017-05-31    75.155172
2017-06-30    77.219895
2017-07-31    78.484536
2017-08-31    78.824176
Freq: M, Name: tobs, Length: 92, dtype: float64

In [11]:
# Identify the average temperature for June
# Create collections of temperature data
june =monthly_avg_tobs.loc[['2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30', '2014-06-30', '2015-06-30', '2016-06-30', '2017-06-30']]
june_mean = np.mean(june)

print(f"Average June tempurature for all stations from 2010-2017 is: {round(june_mean,2)} F")
print(june)

Average June tempurature for all stations from 2010-2017 is: 74.98 F
date
2010-06-30    74.925620
2011-06-30    73.938326
2012-06-30    74.000000
2013-06-30    74.599078
2014-06-30    75.027907
2015-06-30    74.990148
2016-06-30    75.175258
2017-06-30    77.219895
Name: tobs, dtype: float64

In [12]:
# Identify the average temperature for December
# Create collections of temperature data
dec = monthly_avg_tobs.loc[['2010-12-31','2011-12-31', '2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31']]
dec_mean = np.mean(dec)

print(f"Average December tempurature for all stations from 2010-2016 is: {round(dec_mean,2)} F")
print(dec)

Average December tempurature for all stations from 2010-2016 is: 71.11 F
date
2010-12-31    70.208511
2011-12-31    70.820628
2012-12-31    71.188073
2013-12-31    71.094017
2014-12-31    69.896861
2015-12-31    73.423913
2016-12-31    71.130000
Name: tobs, dtype: float64

In [21]:
 # Run unpaired t-test between June and Dec Temps
sp.stats.ttest_ind(june, dec, equal_var=False)

Ttest_indResult(statistic=6.9218571747346616, pvalue=1.4518830376438732e-05)

### Analysis

Above is the result of an unpaired t-test, as the data is distinct i.e. June(summer) and December(winter), we assume the variance between the two groups is to be equal. Hence, we use (equal_var=False) in our code.
<br> 
<br>
The p-value here is 1.45e-5  which is equivilent as 0.0000145, therefore, we are rejecting the null hypothesis.
<br>
We can say that our results are statistically significant because our p-value here is less than 0.05.